*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-style: normal;
}
.btn:hover{
    background-color: #FFFFFF;
    color: #283337;
}
